In [203]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from tabulate import tabulate
from collections import Counter

import warnings
warnings.filterwarnings(action="ignore")

In [2]:
data = pd.read_excel('.\data_2_samples_NEW.xlsx', index_col=0)

In [165]:
data[589:]

,gender,age,bmi,ao,activity,male_heredity,smoking,AGT_AGTR2,stage_agr,sample
589,0,1,0,1,1,0,0,0,1,1
590,1,1,0,0,1,0,1,0,1,1
591,1,1,0,0,1,0,1,0,1,1
592,1,0,0,1,0,0,0,1,1,1
593,0,1,1,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...
783,0,1,0,1,0,0,0,0,1,1
784,0,1,0,0,1,0,0,0,1,1
785,1,0,1,1,1,0,1,0,1,1
786,1,1,1,1,0,0,1,0,1,1
787,1,1,0,0,0,0,0,1,0,1

In [164]:
data[data['sample'] == 0]

,gender,age,bmi,ao,activity,male_heredity,smoking,AGT_AGTR2,stage_agr,sample
0,0,0,0,0,0,1,0,0,1,0
1,1,1,0,0,1,0,1,0,1,0
2,1,1,0,1,1,0,1,0,1,0
3,1,0,1,1,1,0,0,1,1,0
4,0,1,1,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
584,1,1,1,1,0,1,0,0,1,0
585,0,1,0,1,0,0,0,0,1,0
586,1,1,1,1,0,0,1,0,1,0
587,0,1,1,1,1,0,0,0,0,0
588,0,0,0,1,0,0,0,0,1,0

In [167]:
indexes = pd.read_csv('code_numbers.csv')
indexes = indexes[13:]
#indexes.After = indexes.After - 14
#indexes.Before = indexes.Before - 1
indexes.head()

    After  Before
13     14      44
14     15      60
15     16      61
16     17      62
17     18      63

In [223]:
data_old = data[data['sample'] == 0].copy()
data_old_ind = data_old.iloc[indexes.Before].copy()
#data_old.reindex(indexes.Before)

In [224]:
data_old_ind

,gender,age,bmi,ao,activity,male_heredity,smoking,AGT_AGTR2,stage_agr,sample
44,1,0,1,1,0,0,1,0,0,0
60,0,1,0,0,0,0,0,0,1,0
61,0,1,1,1,0,1,0,0,1,0
62,1,1,1,0,0,0,1,1,1,0
63,1,0,0,0,1,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...
434,0,0,0,0,0,0,0,0,0,0
442,0,1,0,0,0,0,0,0,0,0
464,1,0,0,0,0,0,1,1,0,0
458,1,0,1,1,1,0,0,0,1,0
393,0,0,0,1,0,0,0,0,0,0

In [156]:
data_new = data[data['sample'] == 1].copy()
data_new.reset_index(drop=True, inplace=True)

In [157]:
data_new.columns = data_new.columns.map(lambda x: x + '_new')

In [158]:
data_new

,gender_new,age_new,bmi_new,ao_new,activity_new,male_heredity_new,smoking_new,AGT_AGTR2_new,stage_agr_new,sample_new
0,0,1,0,1,1,0,0,0,1,1
1,1,1,0,0,1,0,1,0,1,1
2,1,1,0,0,1,0,1,0,1,1
3,1,0,0,1,0,0,0,1,1,1
4,0,1,1,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...
194,0,1,0,1,0,0,0,0,1,1
195,0,1,0,0,1,0,0,0,1,1
196,1,0,1,1,1,0,1,0,1,1
197,1,1,1,1,0,0,1,0,1,1
198,1,1,0,0,0,0,0,1,0,1

# Try to find indexes

(191 at new, 542 - old)

In [172]:
data_new.query('gender_new==1 and age_new==0 and bmi_new==1 and ao_new==1 and activity_new==1 and smoking_new==1 and stage_agr_new==1')

,gender_new,age_new,bmi_new,ao_new,activity_new,male_heredity_new,smoking_new,AGT_AGTR2_new,stage_agr_new,sample_new
31,1,0,1,1,1,0,1,1,1,1
66,1,0,1,1,1,0,1,1,1,1
68,1,0,1,1,1,0,1,1,1,1
137,1,0,1,1,1,0,1,1,1,1
196,1,0,1,1,1,0,1,0,1,1

In [290]:
data_old.query('gender==1 and age==0 and bmi==1 and ao==1 and activity==1 and smoking==1 and stage_agr==1')

,gender,age,bmi,ao,activity,male_heredity,smoking,AGT_AGTR2,stage_agr,sample
82,1,0,1,1,1,1,1,1,1,0
124,1,0,1,1,1,0,1,0,1,0
134,1,0,1,1,1,1,1,0,1,0
135,1,0,1,1,1,0,1,0,1,0
137,1,0,1,1,1,0,1,0,1,0
214,1,0,1,1,1,0,1,0,1,0
276,1,0,1,1,1,0,1,0,1,0
347,1,0,1,1,1,0,1,0,1,0
400,1,0,1,1,1,0,1,0,1,0
411,1,0,1,1,1,1,1,1,1,0
416,1,0,1,1,1,0,1,1,1,0
494,1,0,1,1,1,0,1,0,1,0
529,1,0,1,1,1,1,1,0,1,0
536,1,0,1,1,1,0,1,0,1,0
576,1,0,1,1,1,0,1,1,1,0

In [225]:
data_old_ind.reset_index(drop=True, inplace=True)

In [226]:
data_combine = data_old_ind.join(data_new, how='right')

In [227]:
data_combine

,gender,age,bmi,ao,activity,male_heredity,smoking,AGT_AGTR2,stage_agr,sample,gender_new,age_new,bmi_new,ao_new,activity_new,male_heredity_new,smoking_new,AGT_AGTR2_new,stage_agr_new,sample_new
0,1,0,1,1,0,0,1,0,0,0,0,1,0,1,1,0,0,0,1,1
1,0,1,0,0,0,0,0,0,1,0,1,1,0,0,1,0,1,0,1,1
2,0,1,1,1,0,1,0,0,1,0,1,1,0,0,1,0,1,0,1,1
3,1,1,1,0,0,0,1,1,1,0,1,0,0,1,0,0,0,1,1,1
4,1,0,0,0,1,0,1,1,1,0,0,1,1,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,1
195,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,1
196,1,0,0,0,0,0,1,1,0,0,1,0,1,1,1,0,1,0,1,1
197,1,0,1,1,1,0,0,0,1,0,1,1,1,1,0,0,1,0,1,1
198,0,0,0,1,0,0,0,0,0,0,1,1,0,0,0,0,0,1,0,1

# Check rates

In [183]:
def get_rate_old_new(data, col_name):
    rate_old = sum(data[col_name]) / len(data)
    rate_new = sum(data[col_name+'_new']) / len(data)
    return rate_old, rate_new

In [184]:
def get_info_rate(data, col_names):
    table = []    
    for col in col_names:
        rate_old, rate_new = get_rate_old_new(data, col)
        table += [[col, rate_old, rate_new]]
    print(tabulate(table, headers=['', 'Old', 'New'], tablefmt='fancy_grid'))

In [185]:
get_info_rate(data_combine, data.columns[:-1])

╒═══════════════╤══════════╤══════════╕
│               │      Old │      New │
╞═══════════════╪══════════╪══════════╡
│ gender        │ 0.502513 │ 0.457286 │
├───────────────┼──────────┼──────────┤
│ age           │ 0.542714 │ 0.758794 │
├───────────────┼──────────┼──────────┤
│ bmi           │ 0.316583 │ 0.331658 │
├───────────────┼──────────┼──────────┤
│ ao            │ 0.407035 │ 0.542714 │
├───────────────┼──────────┼──────────┤
│ activity      │ 0.442211 │ 0.753769 │
├───────────────┼──────────┼──────────┤
│ male_heredity │ 0.110553 │ 0.140704 │
├───────────────┼──────────┼──────────┤
│ smoking       │ 0.407035 │ 0.316583 │
├───────────────┼──────────┼──────────┤
│ AGT_AGTR2     │ 0.21608  │ 0.231156 │
├───────────────┼──────────┼──────────┤
│ stage_agr     │ 0.567839 │ 0.708543 │
╘═══════════════╧══════════╧══════════╛

# Check transitions
##### (yes->yes, no->no, yes->no, no->yes)

Number of transitions in sick:

In [53]:
pd.crosstab(data_combine.stage_agr, data_combine.stage_agr_new,
            rownames=['Before'],colnames=['After'])

After    0    1
Before
0       14   40
1       44  101

In [78]:
def get_transmission(data, col_name):
    old = data[col_name]
    new = data[col_name+'_new']
    
    one_one = sum(old & new)
    zero_zero = len(data) - sum(old | new)
    one_zero = sum((old ^ new) & old)
    zero_one = sum((old ^ new) & new)
    
    return {'1-1': one_one,
            '1-0': one_zero,
            '0-0': zero_zero,
            '0-1': zero_one}

In [192]:
def get_info_transition(data, col_names):
    table = []
    for col in col_names:
        dict_trans = get_transmission(data, col)
        table += [[col, dict_trans['1-1'], dict_trans['1-0'], dict_trans['0-1'], dict_trans['0-0']]]
    print(f'Total number: {len(data)}')
    print(tabulate(table, headers=['', '1-1', '1-0', '0-1', '0-0'], tablefmt='fancy_grid'))

### 1. Stay healthy

In [199]:
get_info_transition(data_combine.query('stage_agr==0 and stage_agr_new==0'), data.columns[:-2])

Total number: 19
╒═══════════════╤═══════╤═══════╤═══════╤═══════╕
│               │   1-1 │   1-0 │   0-1 │   0-0 │
╞═══════════════╪═══════╪═══════╪═══════╪═══════╡
│ gender        │     1 │     9 │     4 │     5 │
├───────────────┼───────┼───────┼───────┼───────┤
│ age           │     3 │     2 │     8 │     6 │
├───────────────┼───────┼───────┼───────┼───────┤
│ bmi           │     0 │     1 │     1 │    17 │
├───────────────┼───────┼───────┼───────┼───────┤
│ ao            │     0 │     2 │     3 │    14 │
├───────────────┼───────┼───────┼───────┼───────┤
│ activity      │     5 │     2 │    10 │     2 │
├───────────────┼───────┼───────┼───────┼───────┤
│ male_heredity │     0 │     0 │     0 │    19 │
├───────────────┼───────┼───────┼───────┼───────┤
│ smoking       │     2 │     7 │     2 │     8 │
├───────────────┼───────┼───────┼───────┼───────┤
│ AGT_AGTR2     │     1 │     3 │     7 │     8 │
╘═══════════════╧═══════╧═══════╧═══════╧═══════╛

### 2. Stay sick

In [200]:
get_info_transition(data_combine.query('stage_agr==1 and stage_agr_new==1'), data.columns[:-2])

Total number: 74
╒═══════════════╤═══════╤═══════╤═══════╤═══════╕
│               │   1-1 │   1-0 │   0-1 │   0-0 │
╞═══════════════╪═══════╪═══════╪═══════╪═══════╡
│ gender        │    19 │    18 │    18 │    19 │
├───────────────┼───────┼───────┼───────┼───────┤
│ age           │    36 │    12 │    25 │     1 │
├───────────────┼───────┼───────┼───────┼───────┤
│ bmi           │    17 │    16 │    16 │    25 │
├───────────────┼───────┼───────┼───────┼───────┤
│ ao            │    21 │    14 │    28 │    11 │
├───────────────┼───────┼───────┼───────┼───────┤
│ activity      │    19 │    13 │    31 │    11 │
├───────────────┼───────┼───────┼───────┼───────┤
│ male_heredity │     1 │    12 │     8 │    53 │
├───────────────┼───────┼───────┼───────┼───────┤
│ smoking       │    11 │    20 │    19 │    24 │
├───────────────┼───────┼───────┼───────┼───────┤
│ AGT_AGTR2     │     7 │    12 │    10 │    45 │
╘═══════════════╧═══════╧═══════╧═══════╧═══════╛

### 3. Was healthy, now - sick

In [201]:
get_info_transition(data_combine.query('stage_agr==0 and stage_agr_new==1'), data.columns[:-2])

Total number: 67
╒═══════════════╤═══════╤═══════╤═══════╤═══════╕
│               │   1-1 │   1-0 │   0-1 │   0-0 │
╞═══════════════╪═══════╪═══════╪═══════╪═══════╡
│ gender        │    15 │    11 │    21 │    20 │
├───────────────┼───────┼───────┼───────┼───────┤
│ age           │    27 │     4 │    31 │     5 │
├───────────────┼───────┼───────┼───────┼───────┤
│ bmi           │     8 │     4 │    21 │    34 │
├───────────────┼───────┼───────┼───────┼───────┤
│ ao            │    14 │     7 │    31 │    15 │
├───────────────┼───────┼───────┼───────┼───────┤
│ activity      │    23 │     5 │    30 │     9 │
├───────────────┼───────┼───────┼───────┼───────┤
│ male_heredity │     0 │     2 │    14 │    51 │
├───────────────┼───────┼───────┼───────┼───────┤
│ smoking       │     6 │    16 │    12 │    33 │
├───────────────┼───────┼───────┼───────┼───────┤
│ AGT_AGTR2     │     2 │     8 │    13 │    44 │
╘═══════════════╧═══════╧═══════╧═══════╧═══════╛

### 4. Was sick, now - healthy

In [202]:
get_info_transition(data_combine.query('stage_agr==1 and stage_agr_new==0'), data.columns[:-2])

Total number: 39
╒═══════════════╤═══════╤═══════╤═══════╤═══════╕
│               │   1-1 │   1-0 │   0-1 │   0-0 │
╞═══════════════╪═══════╪═══════╪═══════╪═══════╡
│ gender        │     9 │    18 │     4 │     8 │
├───────────────┼───────┼───────┼───────┼───────┤
│ age           │    11 │    13 │    10 │     5 │
├───────────────┼───────┼───────┼───────┼───────┤
│ bmi           │     3 │    14 │     0 │    22 │
├───────────────┼───────┼───────┼───────┼───────┤
│ ao            │     8 │    15 │     3 │    13 │
├───────────────┼───────┼───────┼───────┼───────┤
│ activity      │    16 │     5 │    16 │     2 │
├───────────────┼───────┼───────┼───────┼───────┤
│ male_heredity │     0 │     7 │     5 │    27 │
├───────────────┼───────┼───────┼───────┼───────┤
│ smoking       │     5 │    14 │     6 │    14 │
├───────────────┼───────┼───────┼───────┼───────┤
│ AGT_AGTR2     │     1 │     9 │     5 │    24 │
╘═══════════════╧═══════╧═══════╧═══════╧═══════╛

# Most Frequent combination

In [282]:
def get_freq_table(data):
    counter = Counter(list(map(tuple, data.to_numpy())))
    table = pd.DataFrame(counter.items(), columns=['t', 'freq'])
    table = table.join(pd.DataFrame(map(list, table.t.to_numpy()), columns=data.columns))
    table.drop(columns=['t'], inplace=True)
    return table

### Most frequent new

In [284]:
freq_new = get_freq_table(data_new)
freq_new.sort_values('freq', ascending=False).head(10)

,freq,gender_new,age_new,bmi_new,ao_new,activity_new,male_heredity_new,smoking_new,AGT_AGTR2_new,stage_agr_new,sample_new
0,15,0,1,0,1,1,0,0,0,1,1
19,8,0,1,1,1,1,0,0,0,1,1
9,8,0,1,0,0,1,0,0,0,0,1
21,7,1,1,1,1,1,0,1,0,1,1
17,7,0,1,0,0,1,0,0,0,1,1
81,6,0,1,0,1,0,0,0,0,1,1
5,5,1,1,1,1,1,0,0,0,1,1
44,5,1,0,0,0,1,0,0,0,1,1
14,5,0,0,0,0,1,0,0,0,0,1
1,5,1,1,0,0,1,0,1,0,1,1

### Most frequent old

In [285]:
freq_old = get_freq_table(data_old)
freq_old.sort_values('freq', ascending=False).head(10)

,freq,gender,age,bmi,ao,activity,male_heredity,smoking,AGT_AGTR2,stage_agr,sample
28,28,0,1,1,1,1,0,0,0,1,0
4,20,0,1,1,1,0,0,0,0,1,0
41,18,0,1,0,1,0,0,0,0,1,0
8,18,0,0,0,0,0,0,0,0,0,0
70,13,1,1,0,0,0,0,0,0,0,0
14,12,0,1,0,0,0,0,0,0,0,0
1,11,1,1,0,0,1,0,1,0,1,0
48,10,0,1,0,1,1,0,0,0,1,0
71,9,1,0,1,1,1,0,1,0,1,0
18,9,1,0,0,0,1,0,1,0,1,0

### Most frequent at all

In [289]:
freq = get_freq_table(data.drop('sample', axis=1))
freq.sort_values('freq', ascending=False).head(10)

,freq,gender,age,bmi,ao,activity,male_heredity,smoking,AGT_AGTR2,stage_agr
28,36,0,1,1,1,1,0,0,0,1
48,25,0,1,0,1,1,0,0,0,1
41,24,0,1,0,1,0,0,0,0,1
4,24,0,1,1,1,0,0,0,0,1
8,20,0,0,0,0,0,0,0,0,0
1,16,1,1,0,0,1,0,1,0,1
139,13,0,0,0,0,1,0,0,0,0
70,13,1,1,0,0,0,0,0,0,0
14,13,0,1,0,0,0,0,0,0,0
7,13,0,1,0,0,1,0,0,0,0